.formulario-escuela {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.formulario-escuela .group-wrapper-2 {
  background-color: #ffffff;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.formulario-escuela .registrarse-wrapper {
  height: 1083px;
  width: 1918px;
}

.formulario-escuela .registrarse {
  background-color: #ffffff;
  height: 1083px;
}

.formulario-escuela .modal-edit-deal {
  align-items: flex-start;
  background-color: var(--primarywhite);
  border-radius: 12px;
  box-shadow: 0px 4px 30px #00000040;
  display: flex;
  flex-direction: column;
  height: 850px;
  left: 680px;
  overflow: hidden;
  position: relative;
  top: 117px;
  width: 557px;
}

.formulario-escuela .title {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 14px;
  padding: 14px 14px 14px 32px;
  position: relative;
  width: 100%;
}

.formulario-escuela .text-wrapper-21 {
  color: var(--primarynavy);
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
}

.formulario-escuela .button-instance {
  background-color: unset !important;
  border: unset !important;
  border-color: unset !important;
}

.formulario-escuela .icon-10 {
  height: 20px !important;
  left: 15px !important;
  position: absolute !important;
  top: 15px !important;
  width: 20px !important;
}

.formulario-escuela .form-edit-deal-form {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.formulario-escuela .content-SCROLL {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

.formulario-escuela .content-SCROLL::-webkit-scrollbar {
  display: none;
  width: 0;
}

.formulario-escuela .form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 4px 32px 24px;
  position: relative;
  width: 557px;
}

.formulario-escuela .upload-image {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.formulario-escuela .label-3 {
  color: var(--primarynavy);
  font-family: var(--body-bold-font-family);
  font-size: var(--body-bold-font-size);
  font-style: var(--body-bold-font-style);
  font-weight: var(--body-bold-font-weight);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.formulario-escuela .div-4 {
  align-items: center;
  align-self: stretch;
  background-color: var(--greygrey-10);
  border: 1px solid;
  border-color: var(--greygrey-30);
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}

.formulario-escuela .placeholder-2 {
  color: var(--greygrey-70);
  font-family: var(--body-regular-font-family);
  font-size: var(--body-regular-font-size);
  font-style: var(--body-regular-font-style);
  font-weight: var(--body-regular-font-weight);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.formulario-escuela .placeholder-3 {
  color: var(--greygrey-70);
  flex: 1;
  font-family: var(--body-regular-font-family);
  font-size: var(--body-regular-font-size);
  font-style: var(--body-regular-font-style);
  font-weight: var(--body-regular-font-weight);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  margin-top: -1.00px;
  position: relative;
}

.formulario-escuela .input-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.formulario-escuela .div-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.formulario-escuela .design-component-instance-node {
  flex: 1 !important;
  flex-grow: 1 !important;
  width: unset !important;
}

.formulario-escuela .input-2 {
  flex: unset !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.formulario-escuela .state {
  width: 160px !important;
}

.formulario-escuela .zip-code {
  width: 109px !important;
}

.formulario-escuela .icon-11 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.formulario-escuela .action {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 70px;
  height: 71px;
  padding: 16px 32px 28px;
  position: relative;
  width: 100%;
}

.formulario-escuela .progress {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  margin-bottom: -11.50px;
  margin-top: -11.50px;
  position: relative;
}

.formulario-escuela .text-wrapper-22 {
  color: var(--primarynavy);
  font-family: var(--body-bold-font-family);
  font-size: var(--body-bold-font-size);
  font-style: var(--body-bold-font-style);
  font-weight: var(--body-bold-font-weight);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.formulario-escuela .progress-2 {
  width: 172px !important;
}

.formulario-escuela .progress-3 {
  color: #121212 !important;
}

.formulario-escuela .action-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 16px;
  justify-content: flex-end;
  margin-bottom: -11.50px;
  margin-top: -11.50px;
  position: relative;
}

.formulario-escuela .button-4 {
  display: flex !important;
  margin-left: -59.00px !important;
  width: 120px !important;
}
