.chat-aliado {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.chat-aliado .group-wrapper-14 {
  background-color: #ffffff;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.chat-aliado .group-21 {
  height: 1091px;
  width: 1935px;
}

.chat-aliado .frame-189 {
  background-color: #ffffff;
  height: 1091px;
  overflow: hidden;
}

.chat-aliado .overlap-150 {
  height: 4669px;
  left: -2421px;
  position: relative;
  top: -3603px;
  width: 4299px;
}

.chat-aliado .overlap-wrapper-5 {
  height: 4669px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4299px;
}

.chat-aliado .overlap-151 {
  height: 4669px;
  position: relative;
}

.chat-aliado .card-5 {
  background-color: var(--rgb255-255-255);
  border-radius: 4px;
  box-shadow: 0px 2px 2px #0f223a1f;
  height: 1007px;
  left: 2973px;
  position: absolute;
  top: 3662px;
  width: 1326px;
}

.chat-aliado .bg-13 {
  background-color: var(--rgb255-255-255);
  border-radius: 4px;
  height: 70px;
  left: 2973px;
  position: absolute;
  top: 4599px;
  width: 1326px;
}

.chat-aliado .btn-7 {
  height: 4653px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4285px;
}

.chat-aliado .overlap-group-41 {
  height: 38px;
  left: 4173px;
  position: absolute;
  top: 4615px;
  width: 110px;
}

.chat-aliado .btn-bg-8 {
  background-image: url(https://cdn.animaapp.com/projects/67f56811c32b493e71bc8ca0/releases/67f70d2c71d63f2aaae2edd1/img/btn-bg.svg);
  background-size: 100% 100%;
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110px;
}

.chat-aliado .btn-bg-9 {
  background-color: #08984f;
  border-radius: 50px;
  height: 38px;
}

.chat-aliado .send-3 {
  height: 14px;
  left: 68px;
  position: absolute;
  top: 12px;
  width: 14px;
}

.chat-aliado .text-wrapper-253 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.chat-aliado .modal-edit-deal-6 {
  align-items: flex-start;
  background-color: var(--primarywhite);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 946px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 620px;
}

.chat-aliado .title-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 14px;
  padding: 14px 14px 14px 32px;
  position: relative;
  width: 100%;
}

.chat-aliado .text-wrapper-254 {
  color: var(--primarynavy);
  flex: 1;
  font-family: var(--heading-h5-bold-font-family);
  font-size: var(--heading-h5-bold-font-size);
  font-style: var(--heading-h5-bold-font-style);
  font-weight: var(--heading-h5-bold-font-weight);
  letter-spacing: var(--heading-h5-bold-letter-spacing);
  line-height: var(--heading-h5-bold-line-height);
  position: relative;
}

.chat-aliado .button-14 {
  background-color: unset !important;
  border: unset !important;
  border-color: unset !important;
}

.chat-aliado .form-edit-deal-form-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.chat-aliado .content-SCROLL-5 {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

.chat-aliado .content-SCROLL-5::-webkit-scrollbar {
  display: none;
  width: 0;
}

.chat-aliado .form-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 28px 32px 24px;
  position: relative;
  width: 620px;
}

.chat-aliado .upload-image-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.chat-aliado .label-8 {
  color: var(--primarynavy);
  font-family: var(--body-bold-font-family);
  font-size: var(--body-bold-font-size);
  font-style: var(--body-bold-font-style);
  font-weight: var(--body-bold-font-weight);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.chat-aliado .image-21 {
  align-items: center;
  background-color: var(--greygrey-10);
  border: 1px solid;
  border-color: var(--greygrey-30);
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}

.chat-aliado .placeholder-9 {
  color: var(--greygrey-70);
  font-family: var(--body-regular-font-family);
  font-size: var(--body-regular-font-size);
  font-style: var(--body-regular-font-style);
  font-weight: var(--body-regular-font-weight);
  letter-spacing: var(--body-regular-letter-spacing);
  line-height: var(--body-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.chat-aliado .input-15 {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.chat-aliado .div-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
  width: 100%;
}

.chat-aliado .input-16 {
  flex: 1 !important;
  flex-grow: 1 !important;
  width: unset !important;
}

.chat-aliado .state-10 {
  width: 160px !important;
}

.chat-aliado .state-11 {
  flex: unset !important;
  margin-right: -1.00px !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.chat-aliado .zip-code-8 {
  width: 109px !important;
}

.chat-aliado .zip-code-9 {
  flex: unset !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.chat-aliado .action-11 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 70px;
  padding: 16px 32px 28px;
  position: relative;
  width: 100%;
}

.chat-aliado .progress-17 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.chat-aliado .text-wrapper-255 {
  color: var(--primarynavy);
  font-family: var(--body-bold-font-family);
  font-size: var(--body-bold-font-size);
  font-style: var(--body-bold-font-style);
  font-weight: var(--body-bold-font-weight);
  letter-spacing: var(--body-bold-letter-spacing);
  line-height: var(--body-bold-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.chat-aliado .progress-18 {
  width: 172px !important;
}

.chat-aliado .action-12 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 16px;
  justify-content: flex-end;
  position: relative;
}

.chat-aliado .button-15 {
  background-color: var(
    --system-colors-miscellaneous-floating-tab-text-selected
  ) !important;
  display: flex !important;
  width: 120px !important;
}

.chat-aliado .btn-8 {
  all: unset;
  box-sizing: border-box;
  height: 38px;
  left: 2989px;
  position: absolute;
  top: 4615px;
  width: 1166px;
}

.chat-aliado .overlap-152 {
  border-radius: 4px;
  height: 38px;
  position: relative;
  width: 1164px;
}

.chat-aliado .btn-bg-10 {
  background-color: #f5f6f8;
  border-radius: 4px;
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1164px;
}

.chat-aliado .btn-bg-11 {
  border: 1px solid;
  border-color: #f5f6f8;
  border-radius: 4px;
  height: 38px;
}

.chat-aliado .text-wrapper-256 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.chat-aliado .line-108 {
  background-color: #f5f6f8;
  border-radius: 4px;
  height: 1px;
  left: 2973px;
  position: absolute;
  top: 4598px;
  width: 1326px;
}

.chat-aliado .chat-conversation-3 {
  height: 936px;
  left: 2961px;
  position: absolute;
  top: 3662px;
  width: 1338px;
}

.chat-aliado .overlap-153 {
  background-color: var(--rgb255-255-255);
  border-radius: 4px;
  height: 859px;
  left: 8px;
  position: absolute;
  top: 77px;
  width: 1322px;
}

.chat-aliado .msg-15 {
  height: 186px;
  left: 22px;
  position: absolute;
  top: 633px;
  width: 387px;
}

.chat-aliado .rectangle-34 {
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.chat-aliado .overlap-154 {
  background-color: #e7f5eb;
  border-radius: 0px 8px 8px 8px;
  height: 186px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 351px;
}

.chat-aliado .img-copy-3 {
  height: 97px;
  left: 187px;
  position: absolute;
  top: 73px;
  width: 140px;
}

.chat-aliado .overlap-group-42 {
  background-color: #f5f6f8;
  border: 1px solid;
  border-color: #f6f6f6;
  height: 99px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 142px;
}

.chat-aliado .img-8 {
  height: 89px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 132px;
}

.chat-aliado .img-9 {
  height: 97px;
  left: 23px;
  position: absolute;
  top: 73px;
  width: 140px;
}

.chat-aliado .text-wrapper-257 {
  color: #8c92b5;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 113px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
}

.chat-aliado .text-wrapper-258 {
  color: #343a40;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 12px;
}

.chat-aliado .ellipsis-v-13 {
  background-color: #d9d9d9;
  height: 18px;
  left: 365px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.chat-aliado .msg-16 {
  height: 65px;
  left: 1118px;
  position: absolute;
  top: 531px;
  width: 187px;
}

.chat-aliado .overlap-155 {
  height: 65px;
  left: 23px;
  position: absolute;
  top: 0;
  width: 159px;
}

.chat-aliado .bg-14 {
  background-color: #f5f6f8;
  border-radius: 8px 0px 8px 8px;
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 149px;
}

.chat-aliado .rectangle-35 {
  height: 10px;
  left: 149px;
  position: absolute;
  top: 0;
  width: 10px;
}

.chat-aliado .wow-that-s-great-3 {
  color: #74788d;
  font-family: "Inter", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  white-space: nowrap;
}

.chat-aliado .text-wrapper-259 {
  color: #74788d;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
}

.chat-aliado .marcus-3 {
  color: #343a40;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
}

.chat-aliado .ellipsis-v-14 {
  background-color: #d9d9d9;
  height: 18px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 18px;
}

.chat-aliado .msg-17 {
  height: 65px;
  left: 22px;
  position: absolute;
  top: 437px;
  width: 294px;
}

.chat-aliado .overlap-156 {
  background-color: #e7f5eb;
  border-radius: 0px 8px 8px 8px;
  height: 65px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 256px;
}

.chat-aliado .text-wrapper-260 {
  color: #8c92b5;
  font-family: "Inter", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  white-space: nowrap;
}

.chat-aliado .text-wrapper-261 {
  color: #8c92b5;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 96px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
}

.chat-aliado .text-wrapper-262 {
  color: #343a40;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
}

.chat-aliado .ellipsis-v-15 {
  background-color: #d9d9d9;
  height: 18px;
  left: 270px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.chat-aliado .msg-18 {
  height: 65px;
  left: 22px;
  position: absolute;
  top: 343px;
  width: 273px;
}

.chat-aliado .overlap-157 {
  background-color: #e7f5eb;
  border-radius: 0px 8px 8px 8px;
  height: 65px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 234px;
}

.chat-aliado .text-wrapper-263 {
  color: #8c92b5;
  font-family: "Inter", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.chat-aliado .ellipsis-v-16 {
  background-color: #d9d9d9;
  height: 18px;
  left: 249px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.chat-aliado .msg-19 {
  height: 65px;
  left: 22px;
  position: absolute;
  top: 264px;
  width: 190px;
}

.chat-aliado .overlap-158 {
  background-color: #e7f5eb;
  border-radius: 0px 8px 8px 8px;
  height: 65px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 152px;
}

.chat-aliado .ellipsis-v-17 {
  background-color: #d9d9d9;
  height: 18px;
  left: 166px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.chat-aliado .msg-20 {
  height: 65px;
  left: 1065px;
  position: absolute;
  top: 170px;
  width: 240px;
}

.chat-aliado .overlap-159 {
  height: 65px;
  left: 22px;
  position: absolute;
  top: 0;
  width: 212px;
}

.chat-aliado .bg-15 {
  background-color: #f5f6f8;
  border-radius: 8px 0px 8px 8px;
  height: 65px;
  left: 0;
  position: absolute;
  top: 0;
  width: 202px;
}

.chat-aliado .rectangle-36 {
  height: 10px;
  left: 202px;
  position: absolute;
  top: 0;
  width: 10px;
}

.chat-aliado .text-wrapper-264 {
  color: #74788d;
  font-family: "Inter", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  white-space: nowrap;
}

.chat-aliado .text-wrapper-265 {
  color: #74788d;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 149px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
}

.chat-aliado .text-wrapper-266 {
  color: #343a40;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 94px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
}

.chat-aliado .msg-21 {
  height: 65px;
  left: 22px;
  position: absolute;
  top: 77px;
  width: 240px;
}

.chat-aliado .overlap-160 {
  background-color: #e7f5eb;
  border-radius: 0px 8px 8px 8px;
  height: 65px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 202px;
}

.chat-aliado .ellipsis-v-18 {
  background-color: #d9d9d9;
  height: 18px;
  left: 216px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.chat-aliado .overlap-161 {
  height: 29px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 1290px;
}

.chat-aliado .line-109 {
  background-color: #f5f6f8;
  height: 1px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 1290px;
}

.chat-aliado .btn-9 {
  all: unset;
  box-sizing: border-box;
  height: 29px;
  left: 609px;
  position: absolute;
  top: 0;
  width: 73px;
}

.chat-aliado .overlap-162 {
  background-color: #f5f6f8;
  border-radius: 30px;
  height: 29px;
  position: relative;
  width: 71px;
}

.chat-aliado .text-wrapper-267 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.chat-aliado .line-110 {
  background-color: #f5f6f8;
  border-radius: 4px;
  height: 1px;
  left: 0;
  position: absolute;
  top: 76px;
  width: 1338px;
}

.chat-aliado .topbar-3 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1342px;
}

.chat-aliado .overlap-163 {
  background-color: var(--rgb255-255-255);
  border-radius: 4px 4px 0px 0px;
  height: 76px;
  position: relative;
  width: 1338px;
}

.chat-aliado .ellipsis-h-5 {
  background-color: #d9d9d9;
  height: 16px;
  left: 1296px;
  position: absolute;
  top: 30px;
  width: 16px;
}

.chat-aliado .search-11 {
  background-color: #d9d9d9;
  height: 16px;
  left: 1252px;
  position: absolute;
  top: 30px;
  width: 16px;
}

.chat-aliado .text-wrapper-268 {
  color: #74788d;
  font-family: "Inter", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.chat-aliado .users-alt-5 {
  background-color: #d9d9d9;
  height: 14px;
  left: 24px;
  position: absolute;
  top: 43px;
  width: 14px;
}

.chat-aliado .designers-7 {
  color: #343a40;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.chat-aliado .left-card-3 {
  height: 911px;
  left: 2557px;
  position: absolute;
  top: 3661px;
  width: 404px;
}

.chat-aliado .overlap-164 {
  height: 911px;
  left: -2px;
  position: relative;
  width: 410px;
}

.chat-aliado .card-6 {
  height: 900px;
  left: 0;
  position: absolute;
  top: 0;
  width: 408px;
}

.chat-aliado .bg-16 {
  background-color: var(--rgb255-255-255);
  height: 435px;
  left: 2px;
  position: absolute;
  top: 477px;
  width: 404px;
}

.chat-aliado .contacts-3 {
  height: 410px;
  left: 2px;
  position: absolute;
  top: 475px;
  width: 408px;
}

.chat-aliado .user-25 {
  height: 70px;
  left: 24px;
  position: absolute;
  top: 340px;
  width: 360px;
}

.chat-aliado .overlap-165 {
  background-color: var(--rgb255-255-255);
  height: 69px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 356px;
}

.chat-aliado .text-wrapper-269 {
  color: #74788d;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 312px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 36px;
}

.chat-aliado .text-wrapper-270 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 88px;
}

.chat-aliado .user-26 {
  height: 35px;
  left: 12px;
  position: absolute;
  top: 13px;
  width: 34px;
}

.chat-aliado .overlap-group-43 {
  height: 35px;
  position: relative;
  width: 32px;
}

.chat-aliado .bg-17 {
  background-color: #5b73e840;
  border-radius: 16px;
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.chat-aliado .rectangle-37 {
  background-color: #34c38f;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 5px;
  height: 11px;
  left: 21px;
  position: absolute;
  top: 25px;
  width: 10px;
}

.chat-aliado .text-wrapper-271 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 10px;
}

.chat-aliado .line-111 {
  background-color: #f5f6f8;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 356px;
}

.chat-aliado .user-27 {
  height: 70px;
  left: 24px;
  position: absolute;
  top: 270px;
  width: 360px;
}

.chat-aliado .text-wrapper-272 {
  color: #74788d;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 317px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 28px;
}

.chat-aliado .text-wrapper-273 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  width: 85px;
}

.chat-aliado .user-28 {
  height: 35px;
  left: 12px;
  position: absolute;
  top: 13px;
  width: 32px;
}

.chat-aliado .overlap-group-44 {
  height: 35px;
  position: relative;
}

.chat-aliado .img-10 {
  height: 34px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}

.chat-aliado .rectangle-38 {
  background-color: #adb5bd;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 5px;
  height: 11px;
  left: 21px;
  position: absolute;
  top: 25px;
  width: 10px;
}

.chat-aliado .user-29 {
  height: 70px;
  left: 24px;
  position: absolute;
  top: 201px;
  width: 360px;
}

.chat-aliado .text-wrapper-274 {
  color: #74788d;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 310px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 36px;
}

.chat-aliado .text-wrapper-275 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  width: 111px;
}

.chat-aliado .rectangle-39 {
  background-color: #f1b44c;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 5px;
  height: 11px;
  left: 21px;
  position: absolute;
  top: 25px;
  width: 10px;
}

.chat-aliado .user-30 {
  height: 70px;
  left: 24px;
  position: absolute;
  top: 131px;
  width: 360px;
}

.chat-aliado .badge-3 {
  height: 16px;
  left: 320px;
  position: absolute;
  top: 39px;
  width: 27px;
}

.chat-aliado .overlap-group-45 {
  background-color: #f46a6a;
  border-radius: 10px;
  height: 16px;
  position: relative;
  width: 25px;
}

.chat-aliado .text-wrapper-276 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 10.5px;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  width: 12px;
}

.chat-aliado .text-wrapper-277 {
  color: #74788d;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 310px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 34px;
}

.chat-aliado .text-wrapper-278 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  width: 142px;
}

.chat-aliado .text-wrapper-279 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 11px;
}

.chat-aliado .overlap-166 {
  height: 109px;
  left: 24px;
  position: absolute;
  top: 21px;
  width: 361px;
}

.chat-aliado .overlap-167 {
  height: 103px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 361px;
}

.chat-aliado .user-31 {
  height: 70px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 360px;
}

.chat-aliado .text-wrapper-280 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 210px;
}

.chat-aliado .text-wrapper-281 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 281px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 80px;
}

.chat-aliado .plus-4 {
  background-color: #d9d9d9;
  height: 15px;
  left: 267px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.chat-aliado .plus-5 {
  height: 10px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 10px;
}

.chat-aliado .text-wrapper-282 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 68px;
}

.chat-aliado .user-32 {
  background-color: #d9d9d9;
  height: 17px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 16px;
}

.chat-aliado .line-112 {
  background-color: #f5f6f8;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 404px;
}

.chat-aliado .groups-3 {
  height: 270px;
  left: 2px;
  position: absolute;
  top: 170px;
  width: 408px;
}

.chat-aliado .overlap-168 {
  background-color: var(--rgb255-255-255);
  height: 270px;
  position: relative;
  width: 404px;
}

.chat-aliado .meeting-3 {
  height: 60px;
  left: 24px;
  position: absolute;
  top: 181px;
  width: 358px;
}

.chat-aliado .overlap-group-46 {
  background-color: var(--rgb255-255-255);
  border-radius: 4px;
  height: 60px;
  position: relative;
  width: 356px;
}

.chat-aliado .text-wrapper-283 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  width: 138px;
}

.chat-aliado .user-33 {
  background-color: #b6b8c140;
  border-radius: 16px;
  height: 34px;
  left: 12px;
  position: absolute;
  top: 13px;
  width: 32px;
}

.chat-aliado .div-13 {
  background-color: #d9d9d9;
  height: 15px;
  left: 9px;
  position: relative;
  top: 10px;
  width: 14px;
}

.chat-aliado .designers-8 {
  height: 60px;
  left: 24px;
  position: absolute;
  top: 121px;
  width: 358px;
}

.chat-aliado .overlap-169 {
  background-color: #e7f5eb;
  border-radius: 4px;
  height: 60px;
  position: relative;
  width: 356px;
}

.chat-aliado .designers-9 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  width: 213px;
}

.chat-aliado .overlap-170 {
  height: 100px;
  left: 24px;
  position: absolute;
  top: 21px;
  width: 361px;
}

.chat-aliado .overlap-171 {
  height: 95px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 361px;
}

.chat-aliado .general-3 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 35px;
  width: 358px;
}

.chat-aliado .overlap-172 {
  background-color: var(--rgb255-255-255);
  height: 60px;
  position: relative;
  width: 356px;
}

.chat-aliado .text-wrapper-284 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  width: 52px;
}

.chat-aliado .user-34 {
  height: 34px;
  left: 12px;
  position: absolute;
  top: 13px;
  width: 34px;
}

.chat-aliado .overlap-group-47 {
  background-color: #b6b8c140;
  border-radius: 16px;
  height: 34px;
  position: relative;
  width: 32px;
}

.chat-aliado .text-wrapper-285 {
  color: #495057;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 55px;
}

.chat-aliado .users-alt-6 {
  background-color: #d9d9d9;
  height: 17px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 16px;
}

.chat-aliado .search-12 {
  height: 76px;
  left: 2px;
  position: absolute;
  top: 82px;
  width: 406px;
}

.chat-aliado .overlap-173 {
  background-color: var(--rgb255-255-255);
  height: 76px;
  position: relative;
  width: 404px;
}

.chat-aliado .bg-18 {
  background-color: #c1c7c4;
  border-radius: 4px;
  height: 41px;
  left: 16px;
  position: absolute;
  top: 17px;
  width: 372px;
}

.chat-aliado .text-wrapper-286 {
  color: #74788d;
  font-family: "Inter", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 60px;
}

.chat-aliado .search-13 {
  background-color: #d9d9d9;
  height: 17px;
  left: 28px;
  position: absolute;
  top: 29px;
  width: 16px;
}

.chat-aliado .user-35 {
  height: 82px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 408px;
}

.chat-aliado .overlap-174 {
  background-color: var(--rgb255-255-255);
  height: 82px;
  position: relative;
  width: 404px;
}

.chat-aliado .text-wrapper-287 {
  color: #74788d;
  font-family: "Inter", Helvetica;
  font-size: 14.4px;
  font-weight: 400;
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
  width: 61px;
}

.chat-aliado .ellipsis-h-6 {
  background-color: #d9d9d9;
  height: 21px;
  left: 368px;
  position: absolute;
  top: 17px;
  width: 20px;
}

.chat-aliado .circle-4 {
  background-color: #d9d9d9;
  height: 11px;
  left: 128px;
  position: absolute;
  top: 23px;
  width: 10px;
}

.chat-aliado .circle-5 {
  height: 9px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 8px;
}

.chat-aliado .text-wrapper-288 {
  color: #343a40;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 56px;
}

.chat-aliado .user-36 {
  height: 34px;
  left: 24px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 32px;
}

.chat-aliado .rectangle-40 {
  height: 87px;
  left: 2445px;
  position: absolute;
  top: 3629px;
  width: 91px;
}

.chat-aliado .image-22 {
  height: 59px;
  left: 2452px;
  object-fit: cover;
  position: absolute;
  top: 3638px;
  width: 57px;
}

.chat-aliado .comment-9 {
  height: 19px;
  left: 2470px;
  position: absolute;
  top: 3986px;
  width: 22px;
}

.chat-aliado .social-connection-user-2 {
  height: 19px !important;
  left: 2471px !important;
  position: absolute !important;
  top: 3807px !important;
  width: 19px !important;
}

.chat-aliado .finance-security-bank-7 {
  height: 19px !important;
  left: 2471px !important;
  position: absolute !important;
  top: 3866px !important;
  width: 21px !important;
}

.chat-aliado .notification-9 {
  height: 20px;
  left: 2471px;
  position: absolute;
  top: 3748px;
  width: 20px;
}

.chat-aliado .finance-security-id-card-4-instance {
  height: 18px !important;
  left: 2472px !important;
  position: absolute !important;
  top: 3927px !important;
  width: 18px !important;
}

.chat-aliado .line-113 {
  height: 1px;
  left: 2458px;
  object-fit: cover;
  position: absolute;
  top: 3784px;
  width: 47px;
}

.chat-aliado .line-114 {
  height: 1px;
  left: 2457px;
  object-fit: cover;
  position: absolute;
  top: 3846px;
  width: 47px;
}

.chat-aliado .line-115 {
  height: 1px;
  left: 2457px;
  object-fit: cover;
  position: absolute;
  top: 3907px;
  width: 47px;
}

.chat-aliado .line-116 {
  height: 1px;
  left: 2457px;
  object-fit: cover;
  position: absolute;
  top: 3966px;
  width: 47px;
}

.chat-aliado .line-117 {
  height: 1px;
  left: 2456px;
  object-fit: cover;
  position: absolute;
  top: 4023px;
  width: 47px;
}
