.match-aliado {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.match-aliado .group-wrapper-11 {
  background-color: #ffffff;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.match-aliado .dashboard-wrapper {
  height: 1106px;
  position: relative;
  width: 1861px;
}

.match-aliado .dashboard {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1861px;
}
